{% extends 'admin/base.html.twig' %}

{% block header_content %}
    Accueil 
{% endblock %}

{% block body_content %}
	<h3>Bienvenu {{ app.user.username|lower|title }}</h3>
	<div class="row">
        <div class="col-lg-3 col-xs-6">
         	<!-- small box -->
          	<div class="small-box bg-aqua">
            	<div class="inner">
              		<h3>150</h3>
              		<p>Utilisateurs</p>
            	</div>
            
            	<div class="icon">
              		<i class="ion ion-ios-people"></i>
            	</div>
            	<a href="#" class="small-box-footer">Voir plus <i class="fa fa-arrow-circle-right"></i></a>
          	</div>
        </div>

        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
        	<!-- small box -->
          	<div class="small-box bg-aqua">
            	<div class="inner">
              		<h3>170</h3>

              		<p>Programmes</p>
            	</div>
            	
            	<div class="icon">
              		<i class="ion ion-ios-play"></i>
            	</div>
            	<a href="#" class="small-box-footer">Voir plus <i class="fa fa-arrow-circle-right"></i></a>
          	</div>
        </div>
        <!-- ./col -->


        <div class="col-lg-3 col-xs-6">
         	<!-- small box -->
          	<div class="small-box bg-aqua">
            	<div class="inner">
              		<h3>55</h3>

              		<p>Abonnés</p>
            	</div>
            
            	<div class="icon">
              		<i class="ion ion-person-add"></i>
            	</div>
            	<a href="#" class="small-box-footer">Voir plus <i class="fa fa-arrow-circle-right"></i></a>
          	</div>
        </div>
        <!-- ./col -->

        <div class="col-lg-3 col-xs-6">
        	<!-- small box -->
          	<div class="small-box bg-red">
            	<div class="inner">
              		<h3>65</h3>

              		<p>Mails non traités</p>
            	</div>
            	<div class="icon">
              		<i class="ion ion-pie-graph"></i>
            	</div>
            	<a href="#" class="small-box-footer">Voir plus <i class="fa fa-arrow-circle-right"></i></a>
          	</div>
        </div>
        <!-- ./col -->
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Programmes Ajoutés Recemment</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <ul class="products-list product-list-in-box">

                                {% for item in 0..3 %}
                                    <li class="item">
                                        <div class="product-img">
                                            <img src="dist/img/default-50x50.gif" alt="Product Image">
                                        </div>
                                        
                                        <div class="product-info">
                                            <a href="javascript:void(0)" class="product-title">Samsung TV
                                                <span class="label label-warning pull-right">$1800</span>
                                            </a>
                                            
                                            <span class="product-description">
                                                Samsung 32" 1080p 60Hz LED Smart HDTV.
                                            </span>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer text-center">
                            <a href="javascript:void(0)" class="uppercase">Voir tout les programmes</a>
                        </div>
                        <!-- /.box-footer -->
                    </div>
                </div>
                
                <div class="col-md-6">
                    <!-- USERS LIST -->
                    {{ render(controller('AppBundle\\Controller\\AdminController::renderUserList')) }}
                </div>
            </div>
        </div>

        <div class="col-md-4">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Formulaire de contact</h3>
                </div>

                <div class="box-body">
                    <table class="table table-condensed">
                        <tbody>
                            <tr>
                                <th>Service</th>
                                <th>Adresse email</th>
                                <th>réçus</th>
                                <th>traités</th>
                            </tr>
                            {% for item in 0..4 %}
                                <tr>
                                    <td>
                                        {{random(['Commercial','Communication','Acquisition','Webmaster'])}}
                                    </td>
                                    
                                    <td>
                                        service@coteouest.ci
                                    </td>

                                    <td class="text-center">
                                        <span class="badge bg-red">150</span>
                                    </td>

                                    <td class="text-center">
                                        <span class="badge bg-aqua">50</span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="box-footer text-center" style="display: block;">
                    <a href="javascript:void(0)" class="uppercase">Afficher la boite de reception</a>
                </div>
                <!-- /.box-body -->
            </div>

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Catalogue à générer</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <ul class="products-list product-list-in-box">

                        {% for item in 0..2 %}
                            <li class="item">
                                <div class="product-img">
                                    <img src="{{ asset('admin/dist/img/user1-128x128.jpg') }}" alt="Product Image">
                                </div>
                                
                                <div class="product-info">
                                    <a data-title="priorité" data-toggle="tooltip" href="javascript:void(0)" class="product-title">Anna Alix
                                        <span class="label label-warning pull-right">élévé</span>
                                    </a>
                                    
                                    <span class="product-description">
                                        Coucou Maï stp pour un client. merci.
                                    </span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                    <a href="javascript:void(0)" class="uppercase">Voir plus</a>
                </div>
                <!-- /.box-footer -->
            </div>
        </div>
    </div>

{% endblock %}