{% extends 'account/base.html.twig' %}

{% block content %}
    <section style="min-height:600px;">
        <h1 class="text-nowrap text-truncate">
            Politique de Confidentialité
        </h1>
        <hr>
        <div class="biography shadow-effect2">

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis velit animi odio dolorum, fugit ducimus voluptatibus, inventore obcaecati deserunt explicabo est harum mollitia laudantium suscipit quaerat. Ad veritatis laboriosam temporibus.</p>
            <p>Quo perspiciatis odit vel quasi nisi similique quas aliquid quaerat quidem itaque dolor, obcaecati animi porro sit nobis voluptas blanditiis tempora aliquam labore odio a maiores laborum, nam eveniet quos?</p>
            <p>Quaerat dolor qui delectus culpa corporis minima, nesciunt, tempore esse nemo, deserunt, veniam illo? Enim, qui quo magni eligendi delectus vero odit natus. Sunt veniam ullam, similique sit culpa, repellendus.</p>
            <p>Aperiam soluta tempora, temporibus officiis beatae quibusdam error recusandae necessitatibus ratione! Voluptatum suscipit aspernatur nesciunt, aperiam dicta pariatur quod et at eveniet, eos, dolorem saepe doloribus ipsa earum veritatis. Expedita.</p>
            <p>Veniam harum ducimus eius iste accusamus. Eos molestias voluptatibus, pariatur facilis eaque nulla molestiae impedit inventore! Illum inventore quaerat est nostrum et error quo architecto velit fugiat. At, obcaecati, rem.</p>
            <p>Quibusdam delectus tenetur, repellat natus recusandae consectetur corporis, neque! Facere debitis consequuntur atque, nulla aliquid voluptatum ullam consequatur, voluptatem, officiis totam quae? Saepe dolor cumque, laudantium ab unde cupiditate est.</p>
            <p>Veritatis earum aut iure, consequatur, nemo accusantium repellendus quasi, qui quidem obcaecati praesentium temporibus expedita possimus porro veniam quo voluptate voluptatibus fugit. Quos maiores pariatur, minima doloremque corporis, necessitatibus accusamus.</p>
            <p>Nostrum temporibus facere earum labore illum nam eveniet ipsa eaque soluta vel, reiciendis fuga accusamus debitis pariatur dolorum quo nihil. Nesciunt accusamus, officia ipsam fugiat a incidunt quo modi quibusdam.</p>
            <p>Esse totam distinctio dolores officiis error maiores eum facere cum nisi. Iste nulla, a modi quisquam, quae, eligendi ipsam laborum ipsum iure magni ratione voluptatem doloribus. Nisi delectus, itaque repellendus.</p>
            <p>Inventore ratione nobis id aliquid mollitia accusantium, libero dignissimos rem cupiditate, in, minus deserunt modi eligendi sed neque consectetur numquam perferendis et voluptas suscipit fugiat cum aliquam. Beatae, assumenda, aliquid!</p>


            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, iste deserunt. Laboriosam cupiditate magni nam adipisci dolorem ab aliquid, beatae! Ad sunt atque optio molestiae rerum corrupti ex error, animi.</div>
            <div>Eaque, unde molestiae dolor. Unde ipsum nisi ex, minima ullam autem voluptatum, ut labore quasi, vero nesciunt veniam in. Sint atque molestias nemo maxime veritatis quae sed suscipit rem, illo.</div>
            <div>Deleniti dicta qui natus ipsum ex eligendi voluptas voluptatibus omnis tempora repellendus ratione amet voluptatum necessitatibus quas dignissimos consequuntur velit possimus distinctio architecto temporibus, similique harum doloribus illo alias. Labore!</div>
            <div>Magnam, odit minima architecto. Inventore voluptatum eum perspiciatis sapiente reiciendis. Aperiam id, ipsa ducimus sapiente ut maxime optio odit quas molestias, consequatur iure nesciunt velit quaerat eos neque magnam est.</div>
            <div>Repudiandae dolor eos odio, incidunt atque, saepe velit quis laborum architecto mollitia similique quae exercitationem eligendi, adipisci nesciunt deleniti tempora fugiat necessitatibus animi autem facilis quaerat. Nemo veritatis laboriosam sequi.</div>
        </div>

    </section>
{% endblock %}