{% extends 'account/base.html.twig' %}

{% block content %}
    <div class="jumbotron">
		<h1 class="display-4">Desolé!</h1>
		<p class="lead">
		  	Cette page est en construction
		</p>
		<hr class="my-4">
	</div>
{% endblock %}