{% set defaultImg = asset('img/vignette.png') %}


<div class="print-mine category" style="display:flex;flex-direction:column;align-items:center;justify-content:center;padding:40px">

	<h1 style="font-size:120px;word-wrap: break-word;text-align:center;font-weight:bold">{{ category|upper }}</h1>
				
	<footer>
		<small class="text-center">
			<strong style="font-size:7px">&copy; Copyright COTE OUEST 2017: Reproduction interdite</strong>
			<div style="font-size:7px">
				Cette présentation de programme ne constitue en aucun cas une offre de droits. la disponibilité des droits souhaités, pour le territoire souhaité vous sera donc confirmée sur demande
			</div>
		</small>

		<span>{{ pageNum}}</span>
	</footer>

</div>
