header #master-cover{
	/*height: 290px;*/
	height: 458px;
	overflow: hidden;
	background: #f6f6f6 no-repeat left top / cover;
	/*background: url('../img/photo1.jpg') no-repeat left top / cover;*/
}


@media (max-width: 576px) { 
  	#master-cover {
    	height: 258px !important;
	}
}


header #movie-profil{
	top: 300px;
	/*width: 20%;*/
	width: 270px;
	text-align: center;
	position: absolute;
	z-index: 1;
	/*left: 100px;*/
	left: 7.4%;
	background: white;
	/*box-shadow: 0 8px 6px -6px rgba(0,0,0,.125);*/
	/*border: 1px solid #f1f0f0;*/
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	opacity: 1;

	-webkit-transition:.4s linear all;
	-moz-transition:.4s linear all;
	-o-transition:.4s linear all;
	transition:.4s linear all;
}


header #movie-profil.active{
	-webkit-transition:.4s linear all;
	-moz-transition:.4s linear all;
	-o-transition:.4s linear all;
	transition:.4s linear all;
	position: fixed;
	top: -30%;
}

header #movie-profil.active.reduced{
	-webkit-transition:.4s linear all;
	-moz-transition:.4s linear all;
	-o-transition:.4s linear all;
	transition:.4s linear all;
	top: -100%;
}

#movie-title{
	margin-top: 15px;
}

.movie-vote > i:hover:before{
	content: "\f005" !important;
}

.coa-player{
	overflow:hidden;
}


.coa-player .coa-player-thumbnail{
	position: absolute;
	top: 0;
	right: -100%;
	width: 350px;
	bottom: 5px;
	background: rgba(0,0,0,.5);
	padding: 10px;
	overflow: hidden;

	-webkit-transition: all .5s linear;
	-ms-transition: all .5s linear;
	-o-transition: all .5s linear;
	-moz-transition: all .5s linear;
	transition: all .5s linear;
}

.coa-player .coa-player-thumbnail .list-group > .list-group-item img{
	/* width: 50px;
	height: 50px; */
}

.coa-player .coa-player-thumbnail .list-group > .list-group-item .thumbnail-desc{
	margin-left: 10px;
	width: 70%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.coa-player .coa-player-thumbnail.fix{
	right: 5px;
}

.coa-player .coa-player-thumbnail button{
	display: none;
}
.coa-player .coa-player-thumbnail.fix button{
	display: block;
}

.coa-player-thumbnail a{
	border:none !important;
	background:none !important;
	color:#ffffff !important;

}
.coa-player .coa-player-thumbnail a:hover{
	box-shadow: 0 5px 35px rgba(255,255,255,0.3);
}



.coa-player-thumbnail a.active{
	background: rgba(220,53,69,.4) !important;
}


.coa-player:hover .coa-player-thumbnail{
	
	-webkit-transition: all .5s linear;
	-ms-transition: all .5s linear;
	-o-transition: all .5s linear;
	-moz-transition: all .5s linear;
	transition: all .5s linear;
	bottom: 10%;
	right: 8%;
}


.coa-player:hover .coa-player-thumbnail.fix-rem{
	
	-webkit-transition: all .5s linear;
	-ms-transition: all .5s linear;
	-o-transition: all .5s linear;
	-moz-transition: all .5s linear;
	transition: all .5s linear;
	right: -100%;
}

section{

}

.block{
	padding: 0px !important;
}

.block#other-movies{
	padding-left: 65px !important; 
	margin-top: 0px;
	margin-bottom: 10px;
}

.block#other-movies .block-header{
	padding-right: 0px !important; 
}
.prs_about_team_main_wrapper{
	width:100%;
	padding-bottom:94px;
}

.prs_about_team_main_wrapper a {
    text-decoration: none;
}
.prs_about_team_first_mem_wrapper{
	float:left;
	width:100%;
	text-align:center;
	margin-bottom:10px;
}
.prs_about_first_mem_img_wrapper{
	float:left;
	width:100%;
	position:relative;
	overflow:hidden;
}
.prs_about_first_mem_img_wrapper img{
	width:100%;
	    -webkit-border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
}
.prs_about_first_mem_img_cont_wrapper{
	float:left;
	width:100%;
	background:#ffffff;
	    -webkit-border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
	padding-top:30px;
	padding-bottom:30px;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.10);
    -o-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.10);
    -ms-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.10);
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.prs_about_team_first_mem_wrapper:hover .prs_about_first_mem_img_cont_wrapper{
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
	-webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.10);
    -o-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.10);
    -ms-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.10);
}
.prs_about_first_mem_img_cont_inner_wrapper{
	padding-top:10px;
	padding-bottom:10px;
}
.prs_about_first_mem_img_cont_wrapper h2 a{
	color:#000000;
	font-weight:bold;
	font-size:18px;
	text-transform:uppercase;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.prs_about_team_first_mem_wrapper:hover .prs_about_first_mem_img_cont_wrapper h2 a{
	color:#17a2b8;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.prs_at_social_main_wrapper{
	float:left;
	width:100%;
	text-align:center;
	position: absolute;
    bottom: -100px;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.prs_about_team_first_mem_wrapper:hover .prs_at_social_main_wrapper{
	bottom: -25px;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.prs_at_social_main_wrapper ul{
	display:inline-block;
	background:rgba(23, 162, 184, 0.83);
	padding:10px 30px;
	    -webkit-border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    list-style: none;
}
.prs_at_social_main_wrapper li{
	float:left;
	margin-right:20px;
}
.prs_at_social_main_wrapper li a{
	color:#ffffff;
	float:left;
	transition: all .2s ease-in-out;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.prs_at_social_main_wrapper li a:hover{
	transform: scale(1.2);
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.prs_at_social_main_wrapper li{
	position:relative;
	top:100px;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.prs_about_team_first_mem_wrapper:hover .prs_at_social_main_wrapper li:first-child{
	top:0;
	-webkit-transition:all 0.45s linear;
    -moz-transition:all 0.45s linear;
    -ms-transition:all 0.45s linear;
    -o-transition:all 0.45s linear;
    transition:all 0.45s linear;
}
.prs_about_team_first_mem_wrapper:hover .prs_at_social_main_wrapper li:nth-child(2){
	top:0;
	-webkit-transition:all 0.55s linear;
    -moz-transition:all 0.55s linear;
    -ms-transition:all 0.55s linear;
    -o-transition:all 0.55s linear;
    transition:all 0.55s linear;
}
.prs_about_team_first_mem_wrapper:hover .prs_at_social_main_wrapper li:nth-child(3){
	top:0;
	-webkit-transition:all 0.65s linear;
    -moz-transition:all 0.65s linear;
    -ms-transition:all 0.65s linear;
    -o-transition:all 0.65s linear;
    transition:all 0.65s linear;
}
.prs_about_team_first_mem_wrapper:hover .prs_at_social_main_wrapper li:last-child{
	top:0;
	-webkit-transition:all 0.75s linear;
    -moz-transition:all 0.75s linear;
    -ms-transition:all 0.75s linear;
    -o-transition:all 0.75s linear;
    transition:all 0.75s linear;
}
.prs_at_social_main_wrapper li:last-child{
	margin-right:0;
}
.prs_about_team_first_mem_wrapper2{
	margin-top:45px;
}
.prs_ap_btn_wrapper ul{
	margin-top:49px;
}

.bd-toc {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    overflow-y: auto;
}

.bd-toc {
    -ms-flex-order: 2;
    order: 2;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: .875rem;
}

.section-nav {
    padding-left: 0;
    border-left: 1px solid #eee;
}

.toc-entry {
    display: block;
}

.section-nav ul{
    padding-left: 0rem;
}

.toc-entry {
  display: block;
}

.toc-entry a {
    display: block;
    padding: .125rem 1.5rem;
    color: #99979c;
}


.toc-entry a:hover {
    color: #17a2b8;
    text-decoration: none;
    background: #f9f9f9;
}