header #master-cover{
	height: 230px;
	background: #ccccff;
	overflow: hidden;
	background: url('../img/photo1.jpg') no-repeat left top / cover;
}


#catalogue-list ul > li{
	margin: 0px;
	margin-bottom: 10px;
}