<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Formulaire de contact</h3>
    </div>

    <div class="box-body">
        <table class="table table-condensed table-striped">
            <tbody>
                <tr>
                    <th>Service</th>
                    <th>Adresse email</th>
                    <th>réçus</th>
                    <th>traités</th>
                </tr>
                {% for item in departments %}
                    <tr>
                        <td>
                            {{ item.name|lower|title }}
                        </td>
                        
                        <td>
                            {{ item.email }}
                        </td>

                        <td class="text-center">
                            <span class="badge bg-blue">{{ item.emailReceived }}</span>
                        </td>

                        <td class="text-center">
                            <span class="badge bg-blue">{{ item.emailProcessed }}</span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="box-footer text-center" style="display: block;">
        <a href="javascript:void(0)" class="uppercase">Afficher la boite de reception</a>
    </div>
    <!-- /.box-body -->
</div>