<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Membres inscrits</h3>

        <div class="box-tools pull-right">
            <span class="label label-primary">8 Derniers Membres</span>
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
            </button>
        
            <button type="button" class="btn btn-box-tool" data-widget="remove">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <!-- /.box-header -->
    
    <div class="box-body no-padding" style="display: block;">
        <ul class="users-list clearfix">

            {% for item in users %}
                <li>
                    <img src="{{ random(['dist/img/user1-128x128.jpg','dist/img/user8-128x128.jpg','dist/img/user7-128x128.jpg','dist/img/user6-128x128.jpg','dist/img/user2-160x160.jpg','dist/img/user5-128x128.jpg','dist/img/user3-128x128.jpg','dist/img/user4-128x128.jpg']) }}" alt="{{ site.name }}" />

                    <a class="users-list-name" href="{{ path('admin_user_index',{'user_id':item.id})}}">{{ item.username|lower|title }}</a>
                    <span class="users-list-date">Today</span>
                </li>
            {% endfor %}
        </ul>
      
        <!-- /.users-list -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer text-center" style="display: block;">
        <a href="javascript:void(0)" class="uppercase">Voir tout les comptes</a>
    </div>
    <!-- /.box-footer -->
</div>
<!--/.box -->